html {
    background-color: white;
    color: black;
    font-family: serif;
    text-rendering: optimizeLegibility;
}

dl.very-compact dt {
    display: inline;
    font-weight: bold;
}

dl.very-compact dt::before {
    content: "• ";
}

dl.very-compact dt::after {
    content: ": ";
}

dl.very-compact dd {
    display: inline;
    margin-left: 0;
}

dl.compact {
    padding-left: 1.5em;
}

dl.compact dt {
    display: inline;
    font-weight: bold;
}

dl.compact dt::after {
    content: ": ";
}

dl.compact dt:before {
    content: "\A";
    white-space: pre;
}

dl.compact dt:first-child::before {
    content: "";
    white-space: normal;
}

dl.compact dd {
    display: inline;
    margin-left: 0;
}

ul.very-compact li {
  display: inline-block;
}

ul.very-compact li::after {
    content: " • ";
}

ul.very-compact li:last-child::after {
    content: "";
}

address {
    font-style: normal;
}

main > h1,
main > h2,
main > address {
    text-align: center;
}

blockquote, q {
    font-style: italic;
}

cite {
    font-style: normal;
}

span.time-period {
    clear: right;
    float: right;
    font-size: smaller;
}

a {
    text-decoration: none;
}

section.project, section.meta-project {
    margin-left: 1.5em;
}

section.meta-project ul {
  padding-left: 0;
}

section.meta-project ul li {
  display: inline;
}

@media print {

    @page {
	margin: 0;
    }
    
    html {
	font-size: smaller;
    }

    address {
	font-size: smaller;
    }
}

